{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="product-page">
    <div class="container">
        <div class="product-control">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel">
                    <div class="product-img">
                        <figure>
                            <img src="{{ product.image.url }}" alt="">
                            <div class="p-status">new</div>
                        </figure>
                    </div>         
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2>{{product.title}}</h2>
                    <div class="pc-meta">
                        <h5>${{product.prize}}</h5>
                        {% if product.in_stock %}
                        <h5> available </h5>
                        {% else %}
                        <h5>not available</h5>
                        {% endif %}
                    </div>
                    <p>{{product.dis}}</p>
                    <ul class="tags">
                        <li><span>Category :</span> {{product.category.title}}</li>
                        <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                    </ul>
                    {% if product.in_stock %}
                   <form action="{% url 'add-to-cart' product.id %}" method="POST" >
                   {% csrf_token %}
                   <button style="cursor:pointer ;" type="submit"class="primary-btn pc-btn" >Add To Cart</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Related Products -->

<section class="related-product spad">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for r in related_products %}
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="{% url 'productpage' r.slug %}"><img src="{{r.image.url}}" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <a href="{% url 'productpage' r.slug %}" >
                        <h6>{{r.title}}</h6>
                        </a>
                        <p>{{r.prize}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}